# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Environment variables
.env.local
.env.*

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# SQLite database
*.sqlite3
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg info
*.egg-info/
dist/
build/

# Pytest
.cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
coverage.xml
*.cover
.cache
nosetests.xml
coverage.xml
*.lcov

# Others
*.bak
*.swp

